div#dummy {
  color: green;
}

html,
body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #f2f8ea;
}

* {
  box-sizing: border-box;
}

.material-icons {
  cursor: pointer;
}
.material-icons.red {
  /* color: red; */
  color: white;
}

div.container {
  padding: 1rem;
  width: 200px;
  /* height: 200px; */
  background-color: #f2f8ea;
}

.center-text {
  text-align: center;
}

.todo-remove-button {
  border-style: none;
  border-radius: 50%;
  background-color: red;
  font: 120%;
  color: white;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

.add-button-container {
  display: flex;
  justify-content: center;
}
